$md-card-radius: 0.12em;

.md-card {
    margin-bottom: 2em;
    
    .md-subhead {
        font-size: 0.875em;
        letter-spacing: .01em;
        line-height: auto;
        
        + .md-title {
            margin-top: 0;
        }
    }
    
    .md-title {
        font-size:1.5em;
        letter-spacing: 0;
        line-height: auto;
    }
    
}