h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.md-caption {
    font-size: 0.75em;
    letter-spacing: .02em;
    line-height: 1;
}

.md-body-1 {
    font-size: 0.875em;
    letter-spacing: .01em;
    line-height: 1.4;
}

.md-body-2 {
    font-size: 0.875em;
    letter-spacing: .01em;
    line-height: 1.5;
}

.md-subheading {
    font-size: 1em;
    letter-spacing: .01em;
    line-height: 1.5;
}

.md-title {
    font-size: 1.25em;
    letter-spacing: .005em;
    line-height: 1.4;
}

.md-headline {
    font-size: 1.5em;
    letter-spacing: 0;
    line-height: 1.4;
}

.md-display-1 {
    font-size: 2.125em;
    letter-spacing: 0;
    line-height: 2.5;
}

.md-display-2 {
    font-size: 3.215em;
    letter-spacing: 0;
    line-height: 3.43;
}

.md-display-3 {
    font-size: 4em;
    letter-spacing: -.005em;
    line-height: 4.15;
}

.md-display-4 {
    font-size: 8em;
    letter-spacing: -.01em;
    line-height: 8;
}